.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #FEFEFA;
}

.layout-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    height: 100vh;
    box-sizing: border-box;
    background-color: #FEFEFA;
    margin-left: 14vw;
}

.layout-content.no-navbar {
    margin-left: 0;
  }