*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo-image {
  width: 60%;
  max-width: 200px;
  height: auto;
  margin: 10px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}



.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100vh;
    background-color: #f0f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 1000;
}

.navbar:hover{
    width: 14vw;
}



.dashboard , .family{
    margin-top: 20px;
}

.dashboard-title, .family-title{
  color: #000000;
  margin: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar:hover .dashboard-title, .navbar:hover .family-title{
  opacity: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0px;
  margin: 0 10px 0  10px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  transition: margin-left 0.3s ease;
}

.menu-item:not(:hover) {
  background-color: #f0f0f0;
  margin-left: 10px;
}

.menu-item:hover {
  background-color: #1cb0e0;
  margin-left: 40px;
}   

.menu-item:hover  .label{
  color: #ffffff;
}

.menu-item img
 {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}



.label {
    color: #6a9dbe;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    flex-grow: 1;
    width: 15vh;
    overflow: hidden;
}


.navbar:hover .label{
    opacity: 1;
}

