
.activities-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.activities-header
{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 20vh;
    width: 100%;
    background-color: #000;
}

.activities-panel {
    /* display: flex; */
    justify-content: center;
    background-color: #E0F7FA;
    border-radius: 10px;
    padding: 10px;
}

.activities-content
{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 1320px;
}

.activity-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;  
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #79A8C3;
}

.new-activity-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;  
    margin: 10px;

}

.new-activity-button
{   
    width: 220px;
    height: 200px;
    font-size: 60px;
    font-weight: 60;
    color: #262733;
    background-color: #79A8C3;
}

.activity-image
{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 8px;
}

.activity-name      /* Name of the activity */
{
    color: #262733;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
